@import url('https://fonts.googleapis.com/css?family=Anton|Pinyon+Script|Poiret+One');

#BILLBOARD{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 50px;
}

div.login_block{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


body {
  font-family: "Roboto", sans-serif;
}


#newpostform{
display: none;
}


.posts{
    height: auto;
    border: 3px solid #00b7ef;
    margin-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
    min-width: 800px;
}

.centered-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
        width: 95vw;
    min-width: 800px;
}
.postdate{
    font-family: 'Poiret One', cursive;
    font-size:16px;
    color: black;
    padding-left: 4%;
}

.post_title{
    font-family: 'Anton', sans-serif;
    font-size:30px;
    color: #00b7ef;
}

.post_content{
    font-family: 'Arial';
    font-size:16px;
    color: #c1bfc0;
}

.post_author{
    font-family: 'Pinyon Script', cursive;
    font-size:24px;
    color: black;
    float: right;
}


#ask_to_add, #addpost{
    background-color: #66CDAA;
    font-size: 16px;
    color: white;
    border-radius: 3px;
    padding: 2% 7%;
    margin: 5px;
}

#plus{
display: flex;
justify-content: center;
}


.newpost_buttons{
display: flex;
width: 800px;
justify-content: center;
border: 1px dashed black;
margin-bottom: 4%;
padding-left: 3%;
padding-right: 3%;
}

#close{
    background-color: red;
    font-size: 16px;
    color: white;
    border-radius: 3px;
    padding: 2% 7%;
    margin: 5px;
    border-radius: 3px;
}





#ask_to_add{

}
