@import url('https://fonts.googleapis.com/css?family=Anton|Pinyon+Script|Poiret+One');

#BILLBOARD{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 50px;
}

div.login_block{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


body {
  font-family: "Roboto", sans-serif;

}

.new_post{
display: none;
}

.posts{
    height: auto;
    max-width: 800px;
    border: 3px solid #00b7ef;
    margin-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
}

.postdate{
    font-family: 'Poiret One', cursive;
    font-size:16px;
    color: black;
    padding-left: 4%;
}

.post_title{
    font-family: 'Anton', sans-serif;
    font-size:30px;
    color: #00b7ef;
}

.post_content{
    font-family: 'Arial';
    font-size:16px;
    color: #c1bfc0;
}
.post_author{
    font-family: 'Pinyon Script', cursive;
    font-size:24px;
    color: black;
    float: right;
}

#addpost{
    background-color: #66CDAA;
    font-size: 16px;
    color: white;
    border-radius: 3px;
    padding: 2% 7%;
}


#close{
    background-color: red;
    font-size: 16px;
    color: white;
    border-radius: 3px;
    padding: 2% 7%;
}

#addpost:hover, #close:hover{
    cursor: pointer;
}

#ask_to_add{
    background-color: #66CDAA;
    font-size: 16px;
    color: white;
    border-radius: 3px;
    padding: 2% 7%;
}
