{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Billboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'SocialBoard/css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="{% static 'SocialBoard/js/app.js' %}"></script>
</head>

<body>
<div class="centered-elements">

    <div id="BILLBOARD">BILLBOARD</div>

    {% block content %}
    {% if user.is_authenticated %}

    {{ user }}

    <a href="{% url 'logout' %}">Logout</a>

    {% if posts %}



        {% include 'SocialBoard/newpost.html' %}

    {% else %}

        <div> Sorry, no posts here! Click the '+' button to add a new post!</div>


    {% endif %}


        <div class="newpost_buttons" id="plus">
            <i id="ask_to_add">+</i>
        </div>

        <div id="newpostform">

            <form action="/newpost" method="post">

                <fieldset class="new_post">
                    <legend>
                        <p class="postdate" id="date">TODAY</p>
                    </legend>
                    {% csrf_token %}
                    <input type="text" name="title" id="title" value="title" placeholder="Title">
                    <textarea rows="7" name="content" id="content" value="content"
                        placeholder="Your post here..."></textarea>
                    <input type="text" name="author" id="author" value="author" placeholder="Author">
                    <div class="newpost_buttons">
                        <i class="fa fa-times" id='close'></i>
                        <input type="submit" class="fa fa-check" id='addpost' />
                    </div>
                </fieldset>
            </form>

        </div>


        {% endif %}

        {% endblock %}
    </div>
    <script src="{% static 'SocialBoard/js/app.js' %}"></script>
</body>

</html>