{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Billboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'SocialBoard/css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="{% static 'SocialBoard/js/app.js' %}"></script>
</head>

<body>

<div id="BILLBOARD">BILLBOARD</div>

    {% block content %}

    {% if user.is_authenticated %}

    {{ user }}
    <a href="{% url 'logout' %}">Logout</a>

    {% if posts %}

    {% for p in posts %}
<fieldset class="posts">
    <legend>
        <p class="postdate" id="date">{{p.post_publish_date}}</p>
    </legend>
        <div class="post_title">{{p.post_title}}</div>
        <div class="post_content">{{p.post_content}}</div>
        <div class="post_author">{{p.post_author}}</div>

</fieldset>
    {% endfor %}

    {% else %}

    <div> Sorry, no posts here! Click the '+' button to add a new post!</div>


    {% endif %}


    <div id="ask_to_add">+</div>


    <fieldset class="new_post" id="newpostform" display="none">
        <legend>
            <p class="postdate" id="date">TODAY</p>
        </legend>

        <form action="/newpost" method="post">
            {% csrf_token %}
            <input type="text" name="title" id="title" value="title" placeholder="Title">
            <textarea rows="7" name="content" id="content" value="content" placeholder="Your post here..."></textarea>
            <input type="text" name="author" id="author" value="author" placeholder="Author"><input type="submit"
                value="submit" />
        </form>
    </fieldset>


    <div class="addnewpost">
        <i class="fa fa-times" id='close'></i>
        <i class="fa fa-check" id='addpost'></i>
    </div>
    </div>

    {% endif %}

    {% endblock %}
    <script src="{% static 'SocialBoard/js/app.js' %}"></script>
</body>

</html>